.customEdit{
    color: rgb(233, 216, 196);
}

.customEdit:hover 
{
 color: white;  
}

.selectedLink{
    font-weight: bold;
    color: white;

}

nav{
    background: rgb(140, 74, 246);
}

div{
    margin-top: 2em;
}

#srcBtn{
    color: white;
}

