<!-- Navbar and Navbar content -->
<header>
    <nav class="navbar justify-content-center">
      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link customEdit" routerLink="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link customEdit" routerLink="/popular">Most Popular </a>
        </li>
        <li class="nav-item">
          <a class="nav-link customEdit" routerLink="/top-rated">Top Rated</a>
        </li>
      </ul>
    </nav>
</header>



<div class="container">
  <router-outlet></router-outlet>
</div>
