<button (click)="goBack()">Go back</button>

<div class="card">
    <div class="card-header title">
        <h1>{{ details?.title }}</h1>
    </div>

    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>{{ details?.overview }}</p>
        <li>Runtime: {{ details?.runtime }} min</li>
        <li>Vote Count: {{ details?.vote_count }}</li>
        <li>Vote Average: {{ details?.vote_average }}</li>
        <br>

        <footer class="blockquote-footer">Release Date: {{ details?.release_date }}</footer>
        </blockquote>
    </div>
</div>