<div class="card mb-3">
    <img src="http://image.tmdb.org/t/p/w780/{{details?.backdrop_path}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ details?.title }}</h5>
      <p class="card-text">{{ details?.overview }}</p>

      <p class="card-text"><small>Vote Average: {{ details?.vote_average }}</small></p>
      <p class="card-text"><small>Runtime: {{ details?.runtime }} min</small></p>
      <p class="card-text"><small>Vote Count: {{ details?.vote_count }}</small></p>
      <p class="card-text"><small>Budget: {{ details?.budget }} USD</small></p>
      <p class="card-text"><small>Revenue: {{ details?.revenue }} USD</small></p>
      <p class="card-text"><small>Release Date: {{ details?.release_date }}</small></p>
      <p class="card-text">
        <small>Production Countries: 
            <small *ngFor="let country of details?.production_countries"><li>{{country.name}}</li></small>
        </small>
      </p>
      <p class="card-text">
        <small>Spoken Languages: 
            <small *ngFor="let language of details?.spoken_languages"><li>{{ language.name }}</li></small>
        </small>
      </p>
    
    </div>
</div>

<button (click)="goBack()">Go Back</button>


